<template>
  <div class="background">
    <div class="footer-text">© {{ year }} Ethirallan</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      year: new Date().getFullYear(),
    }
  },
}
</script>

<style lang="postcss" scoped>
.background {
  @apply bg-bg py-4 text-lg text-fg text-center;
}

.footer-text {
  @apply text-base md:text-lg lg:text-xl text-fg;
}
</style>
