<template>
  <div>
    <nav class="nav" :class="{ scrolled: !view.atTopOfPage }">
      <div class="container mx-auto flex items-center justify-between flex-wrap">
        <a href="/" class="logo-text">
          <img class="h-24" src="~/assets/logo/ethirallan_outlined_logo.svg" alt="logo" />
          <h5 class="text-fg">thirallan</h5>
        </a>
        <div class="hidden lg:flex">
          <nuxt-link class="menu-item" to="/">Domov</nuxt-link>
          <nuxt-link class="menu-item" to="/#services">Storitve</nuxt-link>
          <nuxt-link class="menu-item" to="/#projects">Projekti</nuxt-link>
          <nuxt-link class="menu-item" to="/#contact">Kontakt</nuxt-link>
        </div>
        <div class="lg:hidden">
          <button @click="toggleMenu">
            <svg
              class="menu-icon"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>

      <div id="mobile-menu" class="hidden lg:hidden">
        <div class="pt-8"></div>
        <hr class="border-fg" />
        <div class="mobile-menu">
          <nuxt-link class="menu-item" to="/" @click="toggleMenu"
            >Domov</nuxt-link
          >
          <nuxt-link class="menu-item" to="/#services" @click="toggleMenu"
            >Storitve</nuxt-link
          >
          <nuxt-link class="menu-item" to="/#projects" @click="toggleMenu"
            >Projekti</nuxt-link
          >
          <nuxt-link class="menu-item" to="/#contact" @click="toggleMenu"
            >Kontakt</nuxt-link
          >
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
 data() {
    return {
      view: {
        atTopOfPage: true,
      },
    }
  },

  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    toggleMenu() {
      document.querySelector('#mobile-menu').classList.toggle('hidden')
    },
    handleScroll() {
      if (window.pageYOffset > 0) {
        if (this.view.atTopOfPage) this.view.atTopOfPage = false
      } else {
        if (!this.view.atTopOfPage) this.view.atTopOfPage = true
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
.nav {
  z-index: 10;
  @apply fixed bg-bg w-full py-1 px-5 m-auto transition duration-100 ease-in-out;
}

.nav.scrolled {
  @apply shadow-2xl;
}

.logo-text {
  @apply flex items-center text-4xl lg:text-5xl text-gray;
}

.menu-icon {
  @apply h-10 w-10 fill-current text-fg;
}

.menu-item {
  @apply mr-4 pb-2 pt-2 px-2 text-xl lg:text-2xl text-fg hover:text-green2 bg-transparent rounded-md hover:bg-bg1 transition duration-300 ease-in-out relative;
}

.contact {
  @apply rounded px-4 py-1 text-xl lg:text-2xl font-bold bg-fg text-bg0_h hover:text-fg hover:bg-bg transition duration-300 ease-in-out;
}

.mobile-menu {
  @apply flex flex-col text-center space-y-6 pt-8;
}

.nuxt-link-exact-active {
  @apply text-green2;
}

.nuxt-link-exact-active:after {
  content: '';
  @apply absolute rounded-lg h-0 lg:h-1 w-full bottom-0 left-0 bg-green2;
}
</style>
