@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    @apply bg-bg;
}

html::-webkit-scrollbar {
    width: 0px; /* For Chrome, Safari, and Opera */
}
