<template>
  <div>
    <Navbar></Navbar>
    <div class="fake-nav"></div>
    <div>
      <div id="services">
        <div class="section"> 
          <h1 class="title">Storitve</h1>
        </div>
      </div>
      <div id="projects">
        <div class="section"> 
          <h1 class="title">Projekti</h1>
        </div>
      </div>
      <div id="contact">
        <div class="section"> 
          <h1 class="title">Kontakt</h1>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script >
export default {}
</script>

<style lang="postcss">
#services {
  height: 600px;
  @apply bg-bg1;
}

#projects {
  height: 600px;
  @apply bg-bg;
}

#contact {
  height: 600px;
  @apply bg-bg1;
}

.section {
  @apply container mx-auto py-32;
}

.title {
  @apply text-fg text-3xl;
}

.fake-nav {
  height: 91px;
  @apply bg-red;
}
</style>
